html {
  font-weight: 400;
  /* font-size: 1rem; */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #777;
}

img, picture, video, canvas, svg {
  vertical-align: middle;
  font-style: italic;
}

img, picture, video, canvas {
  height: auto;
  shape-margin: 1rem;
}

.injected-icon svg {
  display: block;
  margin-inline: auto;
  /* vertical-align: middle; */
}
