@layer reset, base, skeleton, theme, component, variant, override;

/* CSS Reset */
@import url("@/styles/reset.css") layer(reset);

/* Base stuff for the app */
@import url("@/styles/base.css") layer(base);

/* Skeleton: editor and preview frames, document emulation, @media screen and print, etc */
@import url("@/styles/skeleton.css") layer(skeleton);

/* Global stuff set by a theme (like default colors, custom properties defaults, …) */
@import url("@/styles/themes.css") layer(themes); /* Global stuff associated with a theme */

/* TODO check how good is this flow layout for me here */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* TODO #ABCDEFG big refactor for columns starts here */
.override {
  &:where(.justify-items) {
    &.col-sidebar > * {
      justify-self: var(--justify-value);
    }

    &.col-main > * {
      justify-self: var(--justify-value);
    }
  }

  &:where(.align-items) {
    &.col-sidebar > * {
      align-self: var(--align-value);
    }

    &.col-main > * {
      align-self: var(--align-value);
    }
  }

  &.align-items {
    align-items: var(--align-value);
  }

  &.justify-items {
    justify-items: var(--justify-value);
  }

  &.align-self {
    align-self: var(--align-value);
  }

  &.justify-self {
    justify-self: var(--justify-value);
  }
}

:where(.col-sidebar > *) {
  grid-column: sidebar;
}

:where(.col-main > *) {
  grid-column: main;
}

.col-span-full {
  grid-column: 1/-1;
  grid-auto-flow: column;
}

.col-span-1 {
  /* to be determined */
}

/* TODO #ABCDEFG big refactor for columns ends here */

.react-icon { /* ?: will we be using react icons going forward? */
  vertical-align: middle;

  &.bolder-path {
    path {
      stroke-width: 2rem;
    }
  }
}
