.column-layout {
  display: grid;
  column-gap: 2ch;
  align-items: center; /* ? ---> maybe not needed anymore? */
}

:global(.variant) {
  &.left-sidebar {
    grid-template-columns: [sidebar] 1fr [main] 2fr;
    grid-auto-flow: dense;
  }

  &.right-sidebar {
    grid-template-columns: [main] 2fr [sidebar] 1fr;
  }
}

:global(.override) {

}
