.fullname {
  width: max-content;
  color: var(--palette-0);
  font-weight: 200;
  line-height: 1.1;
}

.firstname::after {
  content: " ";
}

:where(.firstname),
:where(.lastname) {
  display: block;
}

:global([data-theme="monotone"]) {
  .lastname {
    color: var(--palette-1);
    font-weight: 700;
  }
}

:global(.override) {
  &.fullname {
    .weight-200 {
      font-weight: 200;
    }

    .weight-700 {
      font-weight: 700;
    }

    .highlight {
      color: var(--palette-1);
    }

    .no-highlight {
      color: unset;
    }
  }

  &:global(.col-span-1) {
    :where(.firstname),
    :where(.lastname) {
      display: block;
    }
  }

  &:global(.col-span-full) {
    :where(.firstname),
    :where(.lastname) {
      display: unset;
    }
  }
}
