.fullname {
  display: flex;
  column-gap: 0.5rem; /* separates firstname and lastname with gap */
  align-items: center;
  color: var(--palette-0);
  font-weight: 200;
  line-height: 1.1;
}

.firstname,
.lastname {
  width: max-content; /* ? --> dont line break on compound givne names? */
}

:global(.theme-monotone) {
  .fullname {
    flex-flow: row wrap;
  }

  .lastname {
    color: var(--palette-2);
    font-weight: 500;
  }
}

:global(.override).fullname {
  .weight-200 {
    font-weight: 200;
  }

  .weight-500 {
    font-weight: 500;
  }

  .highlight {
    color: var(--palette-1);
  }

  .no-highlight {
    color: unset;
  }

  &:global(.full-row) {
    flex-flow: row nowrap;
  }

  &:global(.one-column) {
    flex-flow: row wrap;
  }
}
