/* :import("@/compositions/paged-view/paged-view.module.css") {
  parent: parent-context;
} */

/*
.pic-frame-wrapper {
  position: relative;
  z-index: 0;
}

.pic-frame-deco {
  position: absolute;
  inset: -7px 7px;
  z-index: -1;
  width: calc(var(--pic-size, 135) * 1px);
  height: calc(var(--pic-size, 135) * 1px);
  border-radius: 0 8% 0 0;
  background-color: var(--palette-1, #8a937f);
}

.parent .pic-frame-deco {
  border-radius: 0 10%;
} */

/* variants */

.profile-pic {
  width: calc(1px * var(--pic-size));
}

.variant-squared-shadow-bg {
  box-shadow: 7px -7px 0 0 var(--palette-1, #8a937f);
  /* border-radius: 8% 0 8% 8%; */
}
