@layer component {
  .profile-pic {
    --v-box-shadow-margin: 0;

    object-fit: cover;
    width: calc(1px * var(--pic-size, 135));
    margin: var(--v-box-shadow-margin);
    /* aspect-ratio: auto; */
    background-color: var(--palette-2, #aaa); /* Fallback color while loading */
  }
}

@layer variant {
  .monotone, .purpletone {
    --v-box-shadow-margin: 7px 7px 0 0;

    box-shadow: 7px -7px 0 0 var(--palette-1, #8a937f);
  }

  .moderna {
    --v-box-shadow-margin: 7px 7px 0 0;

    border-radius: 8% 0 8% 8%;
    box-shadow: 7px -7px 0 0 var(--palette-1, #8a937f);
  }

  .speech-bubble-right {
    --v-box-shadow-margin: 13px 13px 7px 7px;

    border-radius: 50% 50% 0;
    box-shadow:
      0 0 0 5px var(--palette-1, #fff),
      5px -5px 4px 6px var(--palette-3);
  }

  .speech-bubble-left {
    --v-box-shadow-margin: 13px 7px 7px 13px;

    border-radius: 50% 50% 50% 0;
    box-shadow:
      0 0 0 5px var(--palette-1, #fff),
      -5px -5px 4px 6px var(--palette-3);
  }
}

@layer override {
  .gray-scale { /* TODO: use this in component */
    filter: grayscale(1) contrast(0.8) brightness(1.2);
  }
}
